*.iml
.gradle
local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/caches/
/.idea/vcs.xml
/.idea/
local.properties
.DS_Store
/build
/captures
.externalNativeBuild
buildout
release/PallyconWVMSDK/doc/
release/PallyconWVMSDK/libs/
release/PallyconWVMSDK_AndroidTV/doc/
release/PallyconWVMSDK_AndroidTV/libs/

release/*.zip
implementation_guide/ko/*.html
implementation_guide/en/*.html


widevinelibrary/.cxx/
widevinelibrary/src/main/obj/